@charset "utf-8";
.head_title {
    border-left: 1px solid #D9D9D9;
    float: left;
    font: 24px/49px microsoft yahei;
    margin: 15px 0 0 25px;
    padding-left: 26px;
}

// register_box
.register_box {
    height: 491px;
    background: #F9F9F9;
    overflow: hidden;
    .wraper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .clearfix {
        zoom: 1;
    }
    .friend_link {
        height: 30px;
        line-height: 30px;
    }
    .clearfix:before,
    .clearfix:after {
        display: table;
        line-height: 0;
        content: "";
    }
    .fr {
        float: right;
    }
    .red {
        color: #fe0000;
    }
    .step0 {
        margin: 20px auto;
        background: url(https://s.neweggimages.com.cn/WebResources/2009/Default/Nest/icon/register_step.png) no-repeat center;
        width: 655px;
        height: 30px;
        background-position: 0 0;
    }
    .register_con {
        text-align: center;
        margin-top: 40px;
        position: relative;
        .register_con_box {
            text-align: center;
            position: relative;
            margin-bottom: 25px;
            label {
                display: inline-block;
                width: 66px;
                text-align: left;
                cursor: default;
            }
            .reg_txt_0 {
                height: 30px;
                width: 255px;
                line-height: 30px;
                border: 1px solid #cfcfcf;
                text-indent: 5px;
                overflow: hidden;
                background: #F9F9F9;
            }
            em {
                top: 8px;
                text-align: left;
                width: 360px;
                height: 20px;
                line-height: 13px;
            }
            .input_usrname_wrong {
                background-position: 0 -39px;
                _background-position: 0 -40px;
                color: #F60;
            }
            .input_tips {
                background: url(https://s.neweggimages.com.cn/WebResources/2009/Default/Nest/img/icon_logoin_s.png) no-repeat 0 0;
                display: inline-block;
                font-style: normal;
                padding-left: 17px;
                vertical-align: middle;
                width: 360px;
            }
            .input_usrname_right {
                background-position: 0 -19px;
            }
            .reg_txt_1 {
                height: 30px;
                width: 130px;
                line-height: 30px;
                border: 1px solid #cfcfcf;
                text-indent: 5px;
                overflow: hidden;
                background: #F9F9F9;
                vertical-align: middle;
                margin-right: 5px;
                text-align: center;
            }
            .code {
                display: inline-block;
                height: 32px;
                width: 115px;
                vertical-align: middle;
                img {
                    display: block;
                    height: 32px;
                    width: 115px;
                    border: medium none;
                    max-width: 100%;
                    border: 0;
                    -ms-interpolation-mode: bicubic;
                }
            }
        }
        .register_con_box {
            text-align: center;
            position: relative;
            margin-bottom: 25px;
            .code_btn_0 {
                width: 250px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                border: 1px solid #868686;
                cursor: pointer;
                background: #E1E1E1;
                margin-left: 391px;
            }
        }
        #next_step_btn .next_step_btn {
            margin-left: 391px;
        }
        .next_step_btn {
            width: 250px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            border: 1px solid #F55B17;
            cursor: pointer;
            background: #F55B17;
            color: #fff;
            letter-spacing: 2px;
            margin: 0 auto;
            font-size: 18px;
        }
    }
}