body {
  overflow-x: hidden;
}

.fl {
  float: left;
  display: inline;
}

.fr {
  float: right;
  display: inline;
}

.mr10 {
  margin-right: 10px;
}

a {
  color: #8a8888;
  text-decoration: none;
}

.menulist b,
.topbar b,
.searchbar b {
  font-weight: normal;
  display: inline-block;
  margin: 0 8px;
}

.ml10 {
  margin-left: 10px;
}

div {
  text-align: left;
}

#topbar {
  margin: 0 auto;
  padding: 0 100px 0 55px;
  width: 1200px;
  line-height: 24px;
  height: 24px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
}
#topbar .topnav {
  width: 540px;
  float: right;
  position: relative;
  font-family: tahoma, \5b8b\4f53;
}
#topbar .wraper .userpanel a {
  padding: 0 10px;
}
#topbar .wraper .userpanel a:hover {
  color: #333232;
}
#topbar .wraper .service .inner {
  width: 126px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#topbar .wraper .hasub {
  padding: 0;
  height: 24px;
  margin-left: -1px;
  position: relative;
}
#topbar .wraper .hasub .inner {
  position: absolute;
  right: -1px;
  top: 23px;
  padding: 3px 10px 6px;
  min-width: 95px;
  _width: 95px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}
#topbar .wraper .hasub .inner .info p {
  color: #615f5f;
}
#topbar .wraper .hasub .inner .info .orange {
  color: orangered;
  font-size: 20px;
}
#topbar .wraper .hasub s {
  position: absolute;
  right: 12px;
  top: 11px;
  display: inline-block;
  width: 6px;
  height: 4px;
  background-position: left -27px;
  overflow: hidden;
}
#topbar .wraper .hasub .logintip {
  padding: 5px 10px;
  text-align: center;
}
#topbar .wraper .hasub .inner #connect_way a {
  padding: 0;
  text-align: center;
  display: inline;
  width: 60px;
  height: 25px;
  float: left;
  color: #fff;
  background: #2679f5da;
}
#topbar .wraper .hasub:hover .inner {
  display: block;
  z-index: 1000;
}
#topbar .aside li {
  float: left;
  padding: 0 5px;
}
#topbar .aside li a {
  padding-left: 16px;
}
#topbar .aside li a:hover {
  color: #2b2a2a;
}

.header {
  margin: 0 auto;
  padding: 0 100px 0 55px;
  width: 1200px;
  height: 90px;
  position: relative;
}
.header .logo {
  float: left;
}
.header .searchbar {
  float: left;
  position: absolute;
  left: 468px;
  height: 34px;
  width: 440px;
  top: 18px;
}
.header .searchbar input {
  height: 30px;
  width: 330px;
  border: 2px solid #f60;
  float: left;
  line-height: 30px;
}
.header .searchbar a {
  width: 98px;
  height: 34px;
  background: #f60;
  color: #fff;
  text-indent: 0;
  font: bolder 14px/34px simsun;
  text-align: center;
  float: left;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}
.header .hot {
  position: absolute;
  left: 478px;
  top: 48px;
  overflow: hidden;
  clear: both;
  width: 400px;
  line-height: 29px;
  color: #767676;
}
.header .hot b {
  margin: 0 15px;
}

.menu {
  margin: 0 auto;
  padding: 0 100px 0 55px;
  width: 1200px;
  height: 40px;
  position: relative;
  margin-bottom: 10px;
  background: #10286C;
}
.menu .innermenu h3 {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  background: #f60;
  color: #fff;
  font-size: 14px;
  text-indent: 20px;
}
.menu .nav {
  position: absolute;
  left: 239px;
  top: 0;
  z-index: 11;
}
.menu .nav li {
  float: left;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.menu .nav li a {
  color: #fff;
}
.menu .nav li:hover {
  background: #2e5ee0;
}
.menu .utility {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 80px;
  height: 40px;
  z-index: 1;
}
.menu .utility .mycart {
  width: 115px;
  float: left;
  background: #f60;
  border: 2px solid #f60;
  padding: 10px;
  border-right: 1px solid #ebd6bf;
  height: 16px;
  text-align: center;
}
.menu .utility .mycart a {
  color: #fff;
}
.menu .utility .mycart a span {
  color: #ffb380;
  font-weight: bold;
  font-size: 13px;
  margin: 0 8px;
}
.menu .utility .favor {
  float: right;
  width: 115px;
  height: 36px;
  line-height: 36px;
  background: #f60;
  text-align: center;
  border: 2px solid #f60;
  z-index: 1;
}
.menu .utility .favor a {
  color: #fff;
}

#footer {
  margin: 0 auto;
  padding: 0 100px 0 55px;
  width: 1200px;
  margin-top: 55px;
  background: #FFF;
  border-top: 1px solid #FFF;
}
#footer .helpcenter {
  padding-left: 1.5%;
  margin-top: 50px;
}
#footer .helpcenter dl {
  float: left;
  width: 17.64%;
  padding-right: 1%;
  margin-left: 1.5%;
  height: 185px;
  display: inline;
  border-right: 1px solid #dbdbdb;
}
#footer .helpcenter dt {
  font-size: 14px;
  font-weight: bold;
  padding-left: 28px;
  top: -10px;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
  background: url(https://s.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/helpcenter.gif) no-repeat;
  color: #484848;
}
#footer .helpcenter dd {
  padding: 10px 0 0 16px;
}
#footer .helpcenter dd a {
  line-height: 22px;
  height: 22px;
  overflow: hidden;
  background: url(https://s.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/dot.gif) no-repeat left center;
  display: inline-block;
  padding-left: 12px;
}
#footer .helpcenter .help_fresh dt {
  background-position: left 2px;
}
#footer .helpcenter .help_service dt {
  background-position: left -113px;
}
#footer .helpcenter .SpecialServies dt {
  background: url(https://s.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/SpecialServies.png) no-repeat left center;
}
#footer .helpcenter .help_cooperate dt {
  background-position: left -152px;
}
#footer .helpcenter .help_about {
  width: 92px;
  border-right: none;
}
#footer .helpcenter .help_about dt {
  background-position: left -190px;
}
#footer .footer {
  text-align: center;
  font-size: 0;
  padding: 80px 0 30px;
}
#footer .footer .item1,
#footer .footer .item2,
#footer .footer .item3,
#footer .footer .item4,
#footer .footer .item5,
#footer .footer .item6,
#footer .footer .item7,
#footer .footer .item8,
#footer .footer .item9,
#footer .footer .item10 {
  display: inline-block;
  background: url(https://s.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/certi20150925.png) no-repeat;
  height: 45px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -20000px;
  margin: 0 3px 10px 2px;
}
#footer .footer .item1 {
  background-position: left 0;
  width: 123px;
}
#footer .footer .item3 {
  background-position: left -92px;
  width: 116px;
}
#footer .footer .item7 {
  background-position: left -276px;
  width: 130px;
  position: relative;
}
#footer .footer .item7 span {
  margin: 0 2px;
  position: absolute;
  font-size: 12px;
  text-indent: 0px;
  line-height: normal;
  bottom: 4px;
  left: 41px;
  color: #001b75;
  font-family: serif;
}
#footer .footer .item8 {
  background-position: left -326px;
  width: 127px;
}
#footer .footer .item9 {
  background-position: left -376px;
  width: 106px;
}
#footer .footer .item10 {
  background-position: left -421px;
  width: 270px;
}
#footer .footer p {
  text-align: center;
  font-size: 12px;
  padding: 0 0 10px;
}
#footer .footer p .ml5 {
  margin-left: 5px;
}
#footer .footer p .ml10 {
  margin-left: 10px;
}
#footer .footer span {
  margin: 0 2px;
}

/*# sourceMappingURL=footer.css.map */
